apiVersion: core.oam.dev/v1beta1
kind: Initializer
metadata:
  annotations:
    addons.oam.dev/description: "Prometheus is an open-source systems monitoring and alerting toolkit"
  name: prometheus
  namespace: vela-system
spec:
  dependsOn:
    - ref:
        apiVersion: core.oam.dev/v1beta1
        kind: Initializer
        name: fluxcd
        namespace: vela-system
  appTemplate:
    spec:
      components:
        - name: prometheus
          type: helm
          properties:
            repoType: helm
            url: https://prometheus-community.github.io/helm-charts
            chart: premetheus
{{ range .DefinitionFiles }}
        - name: {{ .Name }}
          type: raw
          properties:
{{ .Content | indent 12 }} {{ end }}
