# This file is a github code protect rule follow the codeowners https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners#example-of-a-codeowners-file

*                                  @barnettZQG @wonderflow @leejanee @Somefive @jefree-cat @FogDong
design/                            @barnettZQG @leejanee @wonderflow @Somefive @jefree-cat @FogDong

# Owner of Core Controllers
pkg/controller/core.oam.dev       @Somefive @FogDong @barnettZQG @wonderflow

# Owner of Standard Controllers
pkg/controller/standard.oam.dev   @wangyikewxgm @barnettZQG @wonderflow @Somefive

# Owner of CUE
pkg/cue                            @leejanee @FogDong @Somefive
pkg/stdlib                         @leejanee @FogDong @Somefive

# Owner of Workflow
pkg/workflow                       @leejanee @FogDong @Somefive

# Owner of rollout
pkg/controller/common/rollout/     @wangyikewxgm @wonderflow
runtime/rollout                    @wangyikewxgm @wonderflow

# Owner of vela templates
vela-templates/                     @Somefive @barnettZQG @wonderflow @FogDong

# Owner of vela CLI
references/cli/                     @Somefive @zzxwill @StevenLeiZhang @charlie0129 @chivalryq

# Owner of vela addon framework
pkg/addon/                         @wangyikewxgm @wonderflow @charlie0129

# Owner of resource keeper and tracker
pkg/resourcekeeper                 @Somefive @FogDong @chivalryq
pkg/resourcetracker                @Somefive @FogDong @chivalryq

.github/                           @chivalryq @wonderflow @Somefive @FogDong
makefiles                          @chivalryq @wonderflow @Somefive @FogDong
go.*                               @chivalryq @wonderflow @Somefive @FogDong

