.ant-card {
  margin-bottom: 30px !important;
}
.ant-card-head {
  padding: 0px 10px;
}
.ant-card-body {
  padding: 10px;
}
.cardContent {
  position: relative;
  .box1{
    padding: 0px;
    position: relative;
  }
  .box2{
    padding: 0px;
    position: absolute;
    top: 21px;
    width: 0px;
    border-left: 1px solid black;
  }
  .box3{
    position: absolute;
    border-bottom: 1px solid black;
    top: 21px;
    height: 0px;
  }
  .hasPadding{
    padding: 10px;
    color: #fff;
  }
  div {
    margin-bottom: 10px;
  }
  .first1 {
    margin-left: 40px;
    background: red;
  }
  .first2 {
    margin-left: 40px;
    background: #92C47C;
  }
  .other {
    margin-left: 80px;
    background: #EE9611;
  }
}
