apiVersion: v1
data:
  application: |
    apiVersion: core.oam.dev/v1beta1
    kind: Application
    metadata:
      annotations:
        addons.oam.dev/description: Kubernetes Terraform Controller for AWS
        addons.oam.dev/name: terraform-aws
      name: terraform-aws
      namespace: vela-system
    spec:
      components:
      - name: aws-account-creds
        properties:
          apiVersion: v1
          kind: Secret
          metadata:
            name: aws-account-creds
            namespace: vela-system
          stringData:
            credentials: |
              awsAccessKeyID: [[ index .Args "AWS_ACCESS_KEY_ID" ]]
              awsSecretAccessKey: [[ index .Args "AWS_SECRET_ACCESS_KEY" ]]
              awsSessionToken: [[ index .Args "AWS_SESSION_TOKEN" ]]
          type: Opaque
        type: raw
      - name: aws
        properties:
          apiVersion: terraform.core.oam.dev/v1beta1
          kind: Provider
          metadata:
            name: aws
            namespace: default
          spec:
            credentials:
              secretRef:
                key: credentials
                name: aws-account-creds
                namespace: vela-system
              source: Secret
            provider: aws
            region: '[[ index .Args "AWS_DEFAULT_REGION" ]]'
        type: raw
      - name: aws-s3
        properties:
          apiVersion: core.oam.dev/v1alpha2
          kind: ComponentDefinition
          metadata:
            annotations:
              definition.oam.dev/description: Terraform configuration for AWS S3
            labels:
              type: terraform
            name: aws-s3
            namespace: vela-system
          spec:
            schematic:
              terraform:
                configuration: |
                  resource "aws_s3_bucket" "bucket-acl" {
                    bucket = var.bucket
                    acl    = var.acl
                  }

                  output "BUCKET_NAME" {
                    value = aws_s3_bucket.bucket-acl.bucket_domain_name
                  }

                  variable "bucket" {
                    description = "S3 bucket name"
                    default = "vela-website"
                    type = string
                  }

                  variable "acl" {
                    description = "S3 bucket ACL"
                    default = "private"
                    type = string
                  }
            workload:
              definition:
                apiVersion: terraform.core.oam.dev/v1beta1
                kind: Configuration
        type: raw
      workflow:
        steps:
        - name: ""
          properties:
            name: terraform
            namespace: vela-system
          type: depends-on-app
        - name: ""
          type: apply-application
    status: {}
  detail: |
    # terraform-aws

    This addon contains terraform provider for AWS.
kind: ConfigMap
metadata:
  annotations:
    addons.oam.dev/description: Kubernetes Terraform Controller for AWS
    addons.oam.dev/name: terraform-aws
  labels:
    addons.oam.dev/type: terraform-aws
  name: terraform-aws
  namespace: {{.Values.systemDefinitionNamespace}}
