apiVersion: v1
data:
  application: |
    apiVersion: core.oam.dev/v1beta1
    kind: Application
    metadata:
      annotations:
        addons.oam.dev/description: Kubernetes Terraform Controller for Alibaba Cloud
        addons.oam.dev/name: terraform/provider-alibaba
      name: terraform-provider-alibaba
      namespace: default
    spec:
      components:
      - name: alibaba-account-creds
        properties:
          apiVersion: v1
          kind: Secret
          metadata:
            name: alibaba-account-creds
            namespace: vela-system
          stringData:
            credentials: |
              accessKeyID: [[ index .Args "ALICLOUD_ACCESS_KEY" ]]
              accessKeySecret: [[ index .Args "ALICLOUD_SECRET_KEY" ]]
              securityToken: [[ index .Args "ALICLOUD_SECURITY_TOKEN" ]]
          type: Opaque
        type: raw
      - name: default
        properties:
          apiVersion: terraform.core.oam.dev/v1beta1
          kind: Provider
          metadata:
            name: default
            namespace: default
          spec:
            credentials:
              secretRef:
                key: credentials
                name: alibaba-account-creds
                namespace: vela-system
              source: Secret
            provider: alibaba
            region: '[[ index .Args "ALICLOUD_REGION" ]]'
        type: raw
    status: {}
kind: ConfigMap
metadata:
  annotations:
{{- with .Values.addons.terraformProviderAlibaba.configMapAnnotations }}
{{- toYaml . | nindent 4 }}
{{- end }}
    addons.oam.dev/description: Kubernetes Terraform Controller for Alibaba Cloud
    addons.oam.dev/name: terraform/provider-alibaba
  labels:
    addons.oam.dev/type: terraform-provider-alibaba
  name: terraform-provider-alibaba
  namespace: {{.Values.systemDefinitionNamespace}}
