apiVersion: core.oam.dev/v1beta1
kind: Application
metadata:
  name: def-rev-limit-test-application
spec:
  components:
    - name: frontend1
      type: containerizedservice@v1
      properties:
        image: "bitnami/nginx:1.23.0"









