name: VelaUX APIServer Test

on:
  push:
    branches:
      - master
      - release-*
      - apiserver
    tags:
      - v*
  workflow_dispatch: { }
  pull_request:
    branches:
      - master
      - release-*
      - apiserver

env:
  # Common versions
  GO_VERSION: '1.17'
  GOLANGCI_VERSION: 'v1.38'
  KIND_VERSION: 'v0.7.0'
  KIND_IMAGE_VERSION: '[\"v1.20.7\"]'
  KIND_IMAGE_VERSIONS: '[\"v1.18.20\",\"v1.20.7\",\"v1.22.7\"]'

jobs:

  detect-noop:
    runs-on: ubuntu-20.04
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md", "**.mdx", "**.png", "**.jpg"]'
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  set-k8s-matrix:
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-k8s-matrix.outputs.matrix }}
    steps:
      - id: set-k8s-matrix
        run: |
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            echo "pushing tag: ${{ github.ref_name }}"
            echo "::set-output name=matrix::${{ env.KIND_IMAGE_VERSIONS }}"
          else
            echo "::set-output name=matrix::${{ env.KIND_IMAGE_VERSION }}"
          fi

  apiserver-unit-tests:
    runs-on: ubuntu-20.04
    needs: detect-noop
    if: needs.detect-noop.outputs.noop != 'true'

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Cache Go Dependencies
        uses: actions/cache@v2
        with:
          path: .work/pkg
          key: ${{ runner.os }}-pkg-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-pkg-

      - name: Install ginkgo
        run: |
          sudo apt-get install -y golang-ginkgo-dev

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: '5.0'

      - name: install Kubebuilder
        uses: RyanSiu1995/kubebuilder-action@v1.2
        with:
          version: 3.1.0
          kubebuilderOnly: false
          kubernetesVersion: v1.21.2

      - name: Run api server unit test
        run: make unit-test-apiserver

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          flags: apiserver-unittests
          name: codecov-umbrella

  apiserver-e2e-tests:
    runs-on: aliyun
    needs: [ detect-noop,set-k8s-matrix ]
    if: needs.detect-noop.outputs.noop != 'true'
    strategy:
      matrix:
        k8s-version: ${{ fromJson(needs.set-k8s-matrix.outputs.matrix) }}

    steps:
      - name: Set up Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Tear down K3d if exist
        run: |
          k3d cluster delete || true
          k3d cluster delete worker || true

      - name: Setup K3d (Hub)
        uses: nolar/setup-k3d-k3s@v1.0.8
        with:
          version: v1.20
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup K3d (Worker)
        uses: nolar/setup-k3d-k3s@v1.0.8
        with:
          version: v1.20
          github-token: ${{ secrets.GITHUB_TOKEN }}
          k3d-name: worker
          k3d-args: --kubeconfig-update-default=false --network=k3d-k3s-default

      - name: Kind Cluster (Worker)
        run: |
          internal_ip=$(docker network inspect k3d-k3s-default|jq ".[0].Containers"| jq -r '.[]| select(.Name=="k3d-worker-server-0")|.IPv4Address' | cut -d/ -f1)
          k3d kubeconfig get worker > /tmp/worker.client.kubeconfig
          cp /tmp/worker.client.kubeconfig /tmp/worker.kubeconfig
          sed -i "s/0.0.0.0:[0-9]\+/$internal_ip:6443/"  /tmp/worker.kubeconfig

      - name: Load Image to K3d Cluster
        run: make image-load

      - name: Cleanup for e2e tests
        run: |
          make vela-cli
          make e2e-cleanup
          make e2e-setup-core
          bin/vela addon enable fluxcd
          timeout 600s bash -c -- 'while true; do kubectl get ns flux-system; if [ $? -eq 0 ] ; then break; else sleep 5; fi;done'
          kubectl wait --for=condition=Ready pod -l app.kubernetes.io/name=vela-core,app.kubernetes.io/instance=kubevela -n vela-system --timeout=600s
          kubectl wait --for=condition=Ready pod -l app=source-controller -n flux-system --timeout=600s
          kubectl wait --for=condition=Ready pod -l app=helm-controller -n flux-system --timeout=600s

      - name: Run api server e2e test
        run: |
          export ALIYUN_ACCESS_KEY_ID=${{ secrets.ALIYUN_ACCESS_KEY_ID }}
          export ALIYUN_ACCESS_KEY_SECRET=${{ secrets.ALIYUN_ACCESS_KEY_SECRET }}
          export GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
          make e2e-apiserver-test

      - name: Stop kubevela, get profile
        run: make end-e2e-core

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: /tmp/e2e_apiserver_test.out
          flags: apiserver-e2etests
          name: codecov-umbrella

      - name: Clean e2e profile
        run: rm /tmp/e2e-profile.out

      - name: Cleanup image
        if: ${{ always() }}
        run: make image-cleanup