name: Backport
on:
  pull_request_target:
    types:
      - closed

permissions:
  contents: read

jobs:
  # align with crossplane's choice https://github.com/crossplane/crossplane/blob/master/.github/workflows/backport.yml
  open-pr:
    runs-on: ubuntu-22.04
    if: github.event.pull_request.merged
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608
        with:
          fetch-depth: 0

      - name: Open Backport PR
        uses: zeebe-io/backport-action@cb79e4e5f46c7d7d653dd3d5fa8a9b0a945dfe4b
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          github_workspace: ${{ github.workspace }}
