name: core-api-test
on:
  pull_request:
    paths:
      - 'apis/**'
      - 'pkg/oam/**'
      - "hack/apis/**"
    branches:
      - master
      - release-*

permissions:
  contents: read

jobs:
  core-api-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Set up Go 1.22
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491
        env:
          GO_VERSION: '1.22'
        with:
          go-version: ${{ env.GO_VERSION }}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871

      - name: Get the version
        id: get_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Test build kubevela-core-api
        env:
          VERSION: ${{ steps.get_version.outputs.VERSION }}
          COMMIT_ID: ${{ github.sha }}
        run: |
          bash ./hack/apis/clientgen.sh
          bash ./hack/apis/sync.sh test