name: Definition-Lint

on:
  push:
    branches:
      - master
      - release-*
  workflow_dispatch: {}
  pull_request:
    branches:
      - master
      - release-*

permissions:
  contents: read

env:
  # Common versions
  GO_VERSION: '1.19'

jobs:
  definition-doc:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Go
        uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          submodules: true

      - uses: engineerd/setup-kind@v0.5.0
      - name: Definition Doc generate check
        run: |
          go build -o docgen hack/docgen/def/gen.go
          ./docgen --type=comp --force-example-doc --path=./comp-def-check.md
          ./docgen --type=trait --force-example-doc --path=./trait-def-check.md
          ./docgen --type=wf --force-example-doc --path=./wf-def-check.md --def-dir=./vela-templates/definitions/internal/workflowstep/
          ./docgen --type=policy --force-example-doc --path=./policy-def-check.md