name: docs
on:
  push:
    paths:
      - 'docs/**'
    branches:
      - master
jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Push to GitHub Repo
        uses: sunny0826/auto-docs-action@v0.1.7
        env:
          SSH_PRIVATE_KEY: ${{ secrets.GH_PAGES_DEPLOY }}
        with:
          gh-page: git@github.com:oam-dev/kubevela.io.git