name: E2E Test

on:
  push:
    branches:
      - master
      - release-*
    tags:
      - v*
  workflow_dispatch: {}
  pull_request:
    branches:
      - master
      - release-*

permissions:
  contents: read

env:
  # Common versions
  GO_VERSION: '1.19'

jobs:

  detect-noop:
    permissions:
      actions: write
    runs-on: ubuntu-22.04
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@12aca0a884f6137d619d6a8a09fcc3406ced5281
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md", "**.mdx", "**.png", "**.jpg"]'
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
        continue-on-error: true

  e2e-tests:
    runs-on: self-hosted
    needs: [ detect-noop ]
    if: needs.detect-noop.outputs.noop != 'true'
    strategy:
      matrix:
        k8s-version: ["v1.26"]
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.k8s-version }}
      cancel-in-progress: true

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab

      - name: Setup Go
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Get Ginkgo
        run: |
          go install github.com/onsi/ginkgo/ginkgo
          go get github.com/onsi/gomega/...

      - name: Tear down K3d if exist
        run: |
          k3d cluster delete || true
          k3d cluster delete worker || true

      - name: Calculate K3d args
        run: |
          EGRESS_ARG=""
          if [[ "${{ matrix.k8s-version }}" == v1.26 ]]; then
            EGRESS_ARG="--k3s-arg --egress-selector-mode=disabled@server:0"
          fi
          echo "EGRESS_ARG=${EGRESS_ARG}" >> $GITHUB_ENV 

      - name: Setup K3d
        uses: nolar/setup-k3d-k3s@293b8e5822a20bc0d5bcdd4826f1a665e72aba96
        with:
          version: ${{ matrix.k8s-version }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          k3d-args: ${{ env.EGRESS_ARG }}

      - name: Load image to k3d cluster
        run: make image-load

      - name: Run Make
        run: make

      - name: Prepare for e2e tests
        run: |
          make e2e-cleanup
          make e2e-setup-core
          helm test -n vela-system kubevela --timeout 5m

      - name: Run api e2e tests
        run: make e2e-api-test

      - name: Run addons e2e tests
        run: make e2e-addon-test

      - name: Run e2e tests
        run: make e2e-test

      - name: Stop kubevela, get profile
        run: make end-e2e

      - name: Upload coverage report
        uses: codecov/codecov-action@40a12dcee2df644d47232dde008099a3e9e4f865
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: /tmp/e2e-profile.out
          flags: e2etests
          name: codecov-umbrella

      - name: Clean e2e profile
        run: rm /tmp/e2e-profile.out

      - name: Cleanup image
        if: ${{ always() }}
        run: |
          make image-cleanup
          docker image prune -f --filter "until=24h"
