name: E2E MultiCluster Test

on:
  push:
    branches:
      - master
      - release-*
    tags:
      - v*
  workflow_dispatch: {}
  pull_request:
    branches:
      - master
      - release-*

env:
  # Common versions
  GO_VERSION: '1.17'
  GOLANGCI_VERSION: 'v1.38'
  KIND_VERSION: 'v0.7.0'
  KIND_IMAGE_VERSION: '[\"v1.20.7\"]'
  KIND_IMAGE_VERSIONS: '[\"v1.18.20\",\"v1.20.7\",\"v1.22.7\"]'

jobs:

  detect-noop:
    runs-on: ubuntu-20.04
    outputs:
      noop: ${{ steps.noop.outputs.should_skip }}
    steps:
      - name: Detect No-op Changes
        id: noop
        uses: fkirc/skip-duplicate-actions@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          paths_ignore: '["**.md", "**.mdx", "**.png", "**.jpg"]'
          do_not_skip: '["workflow_dispatch", "schedule", "push"]'
          concurrent_skipping: false

  set-k8s-matrix:
    runs-on: ubuntu-20.04
    outputs:
      matrix: ${{ steps.set-k8s-matrix.outputs.matrix }}
    steps:
      - id: set-k8s-matrix
        run: |
          if [[ "${{ github.ref }}" == refs/tags/v* ]]; then
            echo "pushing tag: ${{ github.ref_name }}"
            echo "::set-output name=matrix::${{ env.KIND_IMAGE_VERSIONS }}"
          else
            echo "::set-output name=matrix::${{ env.KIND_IMAGE_VERSION }}"
          fi


  e2e-multi-cluster-tests:
    runs-on: aliyun
    needs: [ detect-noop,set-k8s-matrix ]
    if: needs.detect-noop.outputs.noop != 'true'
    strategy:
      matrix:
        k8s-version: ${{ fromJson(needs.set-k8s-matrix.outputs.matrix) }}


    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Tear down K3d if exist
        run: |
          k3d cluster delete || true
          k3d cluster delete worker || true

      - name: Setup K3d (Hub)
        uses: nolar/setup-k3d-k3s@v1.0.8
        with:
          version: v1.22
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup K3d (Worker)
        uses: nolar/setup-k3d-k3s@v1.0.8
        with:
          version: v1.22
          github-token: ${{ secrets.GITHUB_TOKEN }}
          k3d-name: worker
          k3d-args: --kubeconfig-update-default=false --network=k3d-k3s-default

      - name: Kind Cluster (Worker)
        run: |
          internal_ip=$(docker network inspect k3d-k3s-default|jq ".[0].Containers"| jq -r '.[]| select(.Name=="k3d-worker-server-0")|.IPv4Address' | cut -d/ -f1)
          k3d kubeconfig get worker > /tmp/worker.client.kubeconfig
          cp /tmp/worker.client.kubeconfig /tmp/worker.kubeconfig
          sed -i "s/0.0.0.0:[0-9]\+/$internal_ip:6443/"  /tmp/worker.kubeconfig

      - name: Load Image to kind cluster (Hub)
        run: make kind-load

      - name: Cleanup for e2e tests
        run: |
          make e2e-cleanup
          make e2e-setup-core-auth
          make
          make setup-runtime-e2e-cluster

      - name: Run e2e multicluster tests
        run: |
          export PATH=$(pwd)/bin:$PATH
          make e2e-multicluster-test

      - name: Stop kubevela, get profile
        run: make end-e2e-core

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: /tmp/e2e-profile.out,/tmp/e2e_multicluster_test.out
          flags: e2e-multicluster-test
          name: codecov-umbrella

      - name: Clean e2e profile
        run: rm /tmp/e2e-profile.out

      - name: Cleanup image
        if: ${{ always() }}
        run: make image-cleanup
