name: Go

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
    paths-ignore:
    - 'docs/**'
    - 'resources/**'

jobs:
  build:
    name: unit-tests
    runs-on: ubuntu-20.04
    steps:
      - name: Set up Go 1.14
        uses: actions/setup-go@v1
        with:
          go-version: 1.14
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Install ginkgo
        run:  |
          sudo apt-get install -y golang-ginkgo-dev

      - name: Setup Kind Cluster
        uses: engineerd/setup-kind@v0.4.0
        with:
          version: "v0.7.0"

      - name: install Kubebuilder
        uses: RyanSiu1995/kubebuilder-action@v1

      - name: Run Make test
        run: make test

      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella
